a,
a:link,
a:visited,
a:hover,
a:active {
    color: #1C84E0;
    text-decoration: underline;
}

body {
    background-color: #FFF;
    color: #444;
    font-family: arial, helvetica;
}

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.9em;
}

p {
    font-size: 0.8em;
}

body {
    padding-top: 50px;
}

body > header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height:50px;
    
    display:block;
    z-index:9;

    /*Top right bottom left*/
    padding: 1% 1% 1% 15%;
    opacity: 1.0;
    vertical-align: middle;
    
    background: #AAA url("/theme/images/t.svg") no-repeat 2% center;
    background-size: 10% 100%;
    
    overflow: hidden;
}

body > header > h1 {
    float:left;
    text-decoration: none;
}

body > header > h1 > a,
body > header > h1 > a:link,
body > header > h1 > a:visited,
body > header > h1 > a:hover,
body > header > h1 > a:active {
    color: #000;
    text-decoration: none;
}

body > header > nav {
    position: relative;
    float:right;
}

body > header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body > header > nav > ul > li {
    display: inline;
    list-style-type: none;
    float: left;
}

body > header > nav > ul > li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    width: 120px;
    height:30px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

body > header > nav > ul > li > a,
body > header > nav > ul > li > a:link,
body > header > nav > ul > li > a:visited,
body > header > nav > ul > li > a:hover,
body > header > nav > ul > li > a:active {
    color: #000;
    text-decoration:none;
    font-weight: bold;
}

body > header > nav > ul > li > a:hover {
    color: #000;
    text-decoration:none;
    font-weight: bold;
    background-color: #888;
}

body > main {
}

body > main > section {
    background-color: #DDD;
    margin: 5% 5% 5% 5%;
    padding: 1% 5% 1% 5%;
}

body > main > section > header > h2 {
    text-decoration: underline;
}

body > main > section > article {
    display: inline-block;
    width: 80%;
    margin: 5% 5% 5% 5%;
    padding: 1% 5% 1% 5%;
    background-color: #999;
}

body > main > section > article > header > h3 {
    
}

form {
    display: table;
    /*Top right bottom left*/
    margin: 2% auto;
    padding: 2% 2%;
    overflow: hidden;
}

form > p {
    display: table-row;
}

form > p > label {
    display: table-cell;
    /*Top right bottom left*/
    padding: 2% 5% 0 0;
    margin: 1%;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

form > p > input {
    display: table-cell;
    border: 1px solid #000;
    /*Top right bottom left*/
    padding: 2%;
    margin: 1%;
}

form > p > input[type="text"], form input[type="email"], form input[type="password"] {
    width: 93%;
    height: 90%;
}

form > p > textarea {
    display: table-cell;
    width: 93%;
    height: 90%;
    border: 1px solid #000;
     padding: 2%;
    margin: 1%;
}

form > p > input[type="submit"] {
    float:right;
    padding: 2%;
    margin: 1%;
    background: #9E9E9E;
}

form > p > input[type="submit"]:hover {
    background: #444;
}

form > p > input[type="submit"]:active {
    background: #000;
    color:#FFF;
}

body > footer {
    left:0;
    right:0;
    bottom: 0;
    z-index:9;
    background: #FFF;
    color: #000;
    opacity: 1.0;
}

body > footer > p {
    font-size: 0.7em;
    vertical-align: middle;
    text-align:center;
}
